* {
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  transform-style: preserve-3d;
  background-color: #0C15CF;
}

.page-wrap {
  margin: 0;
  padding: 0;
  perspective: 1px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif;
  color: black;
  background: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

p {
  font-size: 1.2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transform: translateZ(0);
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#headshot {
  width: 220px;
  padding: .5em;
  margin-bottom: -3em;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
}

.content {
  width: 80vw;
  max-width: 45em;
  padding: 1.5em 2em;
  margin: 0 auto;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
}

.card {
  position: relative;
  padding: 5vh 15px 5vh 2px;
  min-height: 100%;
  max-width: 100vw;
  /*transform-style: inherit;*/
}

/*.card:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

.card,
.card:before {
  background: 50% 50% / cover;
}

#card1 {
  background: linear-gradient(rgba(150, 125, 12, .85), rgba(0, 12, 217, .75)), url(https://publicbool.files.wordpress.com/2015/06/cropped-code-wallpaper-101.jpg) right/cover;
  /*transform: translateZ(-1px) scale(2);*/
  /*z-index: -1;*/
}

#card2 {
  background: linear-gradient(rgba(0, 12, 217, .95), rgba(150, 125, 12, .85));
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  margin: 20em 0 0 0;
}

#card4 {
  background: linear-gradient(rgba(150, 125, 12, .85), rgba(0, 12, 217, .75)),url(https://publicbool.files.wordpress.com/2015/06/cropped-code-wallpaper-101.jpg) center/cover;
}


/* App image styles */

.app-block {
  flex-flow: row wrap;
}

.app {
  width: 300px;
  height: 225px;
  max-width: 50vw;
  margin: .5em;
  box-shadow: .3em .3em .3em rgba(0, 0, 0, .4);
  border: .25em solid white;
  display: inline-block;
}


/* Title captions for FCC apps */

span.title {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
}

span.title span {
  width: 295px;
  height: 218px;
  max-width: calc(50vw - 8px);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.app span.title:hover {
  opacity: 1;
}

span.title {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: table;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
